body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #d1e4f3, #5399c9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}
.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-switcher button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #5399c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.language-switcher button:hover {
    background-color: #407ba7;
}
header {
    width: 100%;
    background-color: #20232a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    flex: 1;
    width: 90%;
    max-width: 960px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background: #20232a;
    border-radius: 10px;
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #c5e9f3;
}

.votes-list, .votes-results {
    background: #283142;
    padding: 10px;
    border-radius: 6px;
}

form {
    color: #fff;
}
.logo-container {
    width: 50%;         /* Logo takes up to 50% of its parent's width */
    max-width: 200px;   /* Maximum size of the logo */
    height: auto;       /* Height adjusts based on the width to maintain aspect ratio */
    margin: 20px auto;  /* Adds top and bottom margin while centering horizontally */
    display: flex;      /* Uses flexbox to center content */
    justify-content: center; /* Center horizontally inside the container */
    align-items: center; /* Center vertically inside the container */
}

.logo-container img {
    width: 100%;        /* Make the image fill the container */
    height: auto;       /* Maintain aspect ratio */
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #c5e9f3;
    background-color: transparent;
    color: #fff;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #88bde6;
    box-shadow: 0 0 8px #88bde6;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5399c9;
    color: #20232a;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #407ba7;
    color: #fff;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #20232a;
    color: white;
    position: fixed;
    bottom: 0;
}

.user-role {
    margin-bottom: 20px;
}

.info-content {
    display: none;
    margin-left: 20px;
}

.user-guide-panel {
    display: none;
    width: 400px;
    height: 600px;
    background-color: #20232a;
    border-color: #d1e4f3;
    border-width: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.close-panel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color:#20232a;
    border: none;
    font-size: 20px;
    
}

.close-panel-button:hover {
    color: #ff3333;
}



.info-toggle {
    cursor: pointer;
    border: none;
  
    font-size: 20px;
    background-color:#3773a1;
}
