body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d1e4f3, #5399c9);
    color: #fff;
    margin: 0;
    padding: 0;
}

header, footer {
    padding: 10px;
    background-color: #20232a;
    text-align: center;
    color: #fff;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 20px;
    background-color: #f3f4f6;
    color: #333;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #5399c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #407ba7;
}

h1, h2 {
    color: #5399c9;
}

#admin, #help {
    background-color: #e2e4e9;
    color: #20232a;
}
