body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #d1e4f3, #5399c9);
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-switcher button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #5399c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.language-switcher button:hover {
    background-color: #407ba7;
}

header {
    width: 100%;
    background-color: #20232a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.logout-button {
    padding: 10px 15px;
    background-color: #5399c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    margin-right: 4%;
}

.logout-button:hover {
    background-color: #407ba7;
}
main {
    flex: 1;
    width: 100%;
    padding: 20px;
    margin-top: 60px; /* Adjusted margin-top for reduced header height */
    display: flex;
    justify-content: center; /* Center the main content */
}

.content-container {
    width: 90%;
    max-width: 960px;
    background: #20232a;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

section h2 {
    color: #c5e9f3;
}

.votes-list, .votes-results {
    background: #283142;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
}

form {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-container {
    max-width: 70px;   /* Reduced size of the logo container */
    height: 100%;      /* Adjust height to fill the header */
    display: flex;      /* Uses flexbox to center content */
    justify-content: center; /* Center horizontally inside the container */
    align-items: center; /* Center vertically inside the container */
    margin-left: 3%;
}

.logo-container img {
    width: 130%;
    height: auto;       /* Maintain aspect ratio */
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #c5e9f3;
    background-color: transparent;
    color: #fff;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #88bde6;
    box-shadow: 0 0 8px #88bde6;
}

button {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #5399c9;
    color: #20232a;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #407ba7;
    color: #fff;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #20232a;
    color: white;
    position: fixed;
    bottom: 0;
}

.hidden {
    display: none;
}
