body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #b7d7f0, #5399c9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #d1e4f3;
}

#code-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.code-row {
    display: flex;
}

.code-input {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
    color: #92b6c0;
    background-color: #070606;
    border-color: #92b6c0;
}

#submit-code {
    margin-top: 30px;
    padding: 20px 30px;
    background-color: #c5e9f3;
    color: #20232a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-code:hover {
    background-color: #92b6c0;
    color: #20232a;
}

#question-container,
#responses-container {
    display: none;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

#logout-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
}

#logout-btn:hover {
    background-color: #407ba7;
    color: #070606;
}

#container {
    background-color: #20232a;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d1e4f3;
    width: 50%;
    min-width: 500px;
    min-height: 300px;
}

.language-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
}

.language-switcher button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #5399c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.language-switcher button:hover {
    background-color: #407ba7;
    color: #070606;
}

#question-label {
    color: #c5e9f3;
    font-size: 2em;
    margin-bottom: 20px;
}

.language-switcher a {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #5399c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.language-switcher a:hover {
    background-color: #407ba7;
    color: #070606;
}

.language-switcher i {
    margin-right: 5px;
}

#responses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border: 1px solid #d1e4f3;
    padding: 20px;
}

.response-word {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #20232a;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#response-text {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    background-color: #20232a;
    color: #d1e4f3;
    border: 1px solid #d1e4f3;
    border-radius: 5px;
    font-size: 1.2em;
}

#response-text:focus {
    outline: none;
    background-color: #407ba7;
    border-color: #c5e9f3;
}

#submit-response {
    margin-top: 10px;
    padding: 15px 20px;
    background-color: #c5e9f3;
    color: #20232a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#submit-response:hover {
    background-color: #92b6c0;
    color: #20232a;
}


/* Predefined Answers Container */
#predefined-answers-container {
    display: none;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

#predefined-answers-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#predefined-answers-list li {
    margin: 10px 0;
}

#predefined-answers-list input[type="checkbox"] {
    margin-right: 10px;
}

/* Live Graph Container */
#live-graph-container {
    display: none;
    margin-top: 20px;
    width: 100%;
}

#live-graph {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.bar {
    width: 50px; /* Increase the width of the bars */
    background-color: #5399c9;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

